.gallery__section{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    
}

@media screen and (max-width: 768px) {
    .gallery__section{
        width: 164px;
    }
}


@media screen and (max-width: 360px) {
    .gallery__section{
        width: 164px;
        
    }
    
}