.gallery__section{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    
}

@media screen and (max-width: 768px) {
    .gallery__section{
        display: none;
    }
}


@media screen and (max-width: 360px) {
    .gallery__section{
        width: 156px;
        height: auto; 
        
    }
    
}