.gallery__box{
    width: 1136px;
    height: auto;
    display: grid; 
    column-gap: 16px;
    row-gap:64px ;
    grid-template-columns: 176px 176px 176px 176px 176px 176px;
    box-sizing: border-box;
}

@media screen and (max-width: 1140px) {
    .gallery__box{
        width: 100%;
        overflow-x: scroll;
        padding-bottom: 7px;
    }
}

@media screen and (max-width: 768px) {
    .gallery__box{
        grid-template-columns: 164px 164px 164px 164px;
        row-gap: 16px;
    }
}


@media screen and (max-width: 360px) {
    .gallery__box{
        height: auto;
        margin-top: none;
        grid-template-columns: 164px 164px;
        row-gap: 16px;       
        
    }    
}

