.gallery__title {
    width: 1136px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.gallery__title h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #464646;
}

.gallery__title button {
    width: 163px;
    height: 51px;
    border: none;
    background: #2A7AE4;

    /* font size */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

@media screen and (max-width: 1140px) {
    .gallery__title {
        width: 100%;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 768px) {
    .gallery__title h1 {
        font-size: 22px;
    }

    .gallery__title button {
        width: 150px;
        height: 40px;
        font-size: 14px;
    }
}

@media screen and (max-width: 460px) {
    .gallery__title {
        display: block;
    }
    .gallery__title h1 {
        margin-bottom: 16px;
    }
}