.banner__text {
    width: var(--centrado-desktop);
    box-sizing: border-box;
    margin-bottom: 32px;
    padding-bottom: 6px;
    /* border: 1px solid red; */
}

.banner__text__month {
    box-sizing: border-box;
    color: white;
    font-size: 52px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px black;
}


.banner__text__product {
    box-sizing: border-box;
    color: white;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin-top: 16px;
    text-shadow: 1px 1px black;
}

.banner__text__button {
    box-sizing: border-box;
    width: 129px;
    height: 51px;
    margin-top: 16px;
    background: #2A7AE4;
    border: none;
    /* Fuente */
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
}

@media screen and (max-width: 1140px) {
    .banner__text{
        padding-left:var(--padding-1140);
        padding-right: var(--padding-1140);
    }
}


@media screen and (max-width: 768px) {
    .banner__text {
        padding-left:var(--padding-768);
        padding-right: var(--padding-768);
        margin-bottom: 48px;
    }


    .banner__text__button {
        width: 118px;
        height: 40px;
        padding: 12px 16px;
        /* fuente */
        font-size: 14px;
    }

}

@media screen and (max-width: 460px) {
    .banner__text{
        padding-left:var(--padding-460);
        padding-right: var(--padding-460);
        margin-bottom: 25px;
    }
    .banner__text__month {
        font-size: 22px;
        text-shadow: 0.8px 0.8px black;
    }
    .banner__text__product {
        font-size: 14px;
        text-shadow: 0.8px 0.8px black;
    }
    
}