.contact {
    width: 98.1vw;
    height: 368px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EAF2FD;
    box-sizing: border-box;
    display: none;
}

.contact__frame {
    width: 85vw;
    height: auto;
    display: flex;
    gap: 112px;
    box-sizing: border-box;


}

@media screen and (max-width: 768px) {
    .contact {
        width: 97.8vw;
    }

    .contact__frame {
        width: 91vw;
        height: 300px;
        display: grid;
        grid-template-columns: auto auto;
        gap: 0px;
        row-gap: 16px;
        column-gap: 78px;
    }
}

@media screen and (max-width: 360px) {
    .contact {
        width: 95vw;
        height: auto;
        padding-bottom: 16px;
    }

    .contact__frame {
        width: 328px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 16px;
    }
}