.contact__list {
    width: 176px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact__list li {
    width: 176px;
    height: 19px;
}

.contact__list a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #464646;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .contact__list {
        width: 176px;
        height: auto;
        grid-area: 2/1;
        
    }
}

@media screen and (max-width: 460px) {
    .contact__list{
        width: auto;
        align-items: center;
        text-align: center;
        margin-bottom: 32px;
        gap: 16px;
    }
}