.contact__box {
    width: auto;
    height: auto;
    border: 1px solid red;
}

.contact__logo {
    width: 176px;
    height: 50px;
}

@media screen and (max-width: 768px) {
    .contact__box {
        width: 176px;
        height: 50px;
    }

}

@media screen and (max-width: 460px) {
    .contact__box {
        width: auto;
        text-align: center;
        margin-bottom: 16px;
    }
}