.gallery__section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
}

.gallery__section__img {
    width: 176px;
    height: 174px;
}

@media screen and (max-width: 768px) {

    .gallery__section__img {
        width: 163px;
        height: 174px;
    }

}


@media screen and (max-width: 360px) {
    .gallery__section__img {
        width: 156px;
        height: 174px;
    }
}