.gallery__title {
    width: 1136px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid red;

       
}

.gallery__title h1 {
    width: auto;
    height: auto;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 32px;
    font-weight: bold;
    border: 1px solid green;
}

.gallery__title__text {
    width: 97px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #2A7AE4;
    border: 1px solid black;

    /* background */
    background-image: url('../../img/star_wars/Vector.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right ;
}


@media screen and (max-width: 1140px) {
    .gallery__title{
        width: auto;
    }
}


@media screen and (max-width: 768px) {

    .gallery__title h1 {
        font-size: 22px;
    }


}

@media screen and (max-width: 460px) {
    .gallery__title__text {
        font-size: 14px;
    }
}