.gallery {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 32px;
    margin-top: 32px;
    gap: 32px;
    box-sizing: border-box;
}

@media screen and (max-width: 1140px) {
    .gallery {
        width: 100vw;
        align-items: normal ;
        padding-left: var(--padding-1140);
        padding-right: var(--padding-1140);
    }
}

@media screen and (max-width: 768px) {
    .gallery {
        margin-bottom: 32px;
        padding-left: var(--padding-768);
        padding-right: var(--padding-768);
    }
}


@media screen and (max-width: 460px) {
    .gallery {
        padding-left: var(--padding-460);
        padding-right: var(--padding-460);
    }

}