.gallery__section {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;

}

.gallery__section__img {
    width: 176px;
    height: 174px;
}

@media screen and (max-width: 837px) {

    .gallery__section__img {
        width: 164px;
        height: 174px;
    }

}


@media screen and (max-width: 549px) {
    .gallery__section__img {
        width: 156px;
        height: 174px;

    }

}