.gallery__box {
    width: var(--centrado-desktop);
    display: flex;
    height: 258px;
    /* justify-content: space-between;  */
    gap: 16px;
    margin-top: 2vh;
    box-sizing: border-box;  
}

@media screen and (max-width: 1140px) {
    .gallery__box {
        width: auto;
        overflow-x: scroll;
    }
}

@media screen and (max-width: 768px) {
    /* .gallery__6,.gallery__5{
        display: none;
    } */
}

@media screen and (max-width: 460px) {}

@media screen and (max-width: 360px) {}