.gallery {
    width: 98.5vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
    margin-top: 60px;
    gap: 64px;
    box-sizing: border-box;
    display: none;
    
}

@media screen and (max-width: 768px) {
    .gallery {
        width: 97.8vw;
        margin-bottom: 32px;
    }
    .star__wars,.consolas,.diversos{
        width: 91vw;
    }


}


@media screen and (max-width: 360px) {
    .gallery {
        width: 95vw;
        gap: 32px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .star__wars,.consolas,.diversos{
        width: 95vw;
        display: flex;
        flex-direction: column;
        align-items: center;        
    }
}