.navbar__box{
    width: 85vw;
    height: auto;
    display: flex;
    align-items:  center;
    justify-content: space-between;
    box-sizing: border-box;
    
}

.navbar__logo{
    width: auto;
    height: auto;
    margin-right: -20vw;
}

@media screen and (max-width: 768px){  
    .navbar__box{
        width: 90vw;
        height: auto;        
    }
    .logo__img{
        width: 100px;
        height: 28px;  
        margin-right: -100px;       
    }
    .serchBar{
        width: 272px;
        height: 40px;        
    }

    .serchBar__img{
        width: 272px;
        height: 40px;
    }
    
}

@media screen and (max-width: 360px){
    .principal_menu_box{
        width: 85vw;
        height: 72px;
        
    }
    .serchBar{
        display: none;
    }

}