.navbar__button {
    width: auto;
    height: auto;
}

.nav_button {
    width: 12em;
    height: 51px;
    box-sizing: border-box;
    padding: 16px;
    border: 1px solid #2A7AE4;
    background-color: #ffffff;
    
    /* font */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #2A7AE4;
}

.nav_button a {
    text-decoration: none;
    color: #2A7AE4;
}

#nav_lupa {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav_button {
        height: 40px;
        width: 166px;
    }
}

@media screen and (max-width: 360px) {
    .navbar__button {
        width: auto;
        height: auto;
        display: flex;
    }

    .nav_button {
        height: 40px;
        width: 133px;
        margin-right: 35px;
    }

    #lupa {
        display: block;
    }
}